.card {
    position: relative;
    display: inline-block;
    overflow: hidden; // картинка не выходила за пределы при наведении


    &::before {
        content: "";

        z-index: 6;

        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        // background-color: rgba(86, 86, 86, 0.5);

        background: linear-gradient(
            180deg,
            rgba(36, 43, 51, 0) 0%,
            #242b33 100%
        );

    }

    &::after {
        opacity: 0;
        content: "";

        z-index: 7;

        position: absolute;
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        border: 3px double rgba(255,255,255, 0.4);
        
        transition: opacity 0.2s ease-in;

    }
    &:hover::after {
        opacity: 1;
    }

    &:hover {
        color: $white;
    }
}
.card__img {
    transition: transform 0.3s ease-in; //плавная трансформация scale
    z-index: 5;
    // &:hover {
    //     transform: scale(1.1);
    // } // не работает т.к. сверху before и after
}

.card:hover .card__img {
    transform: scale(1.1);
    filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.card__title {
    position: absolute;
    z-index: 8;
    left: 50px;
    right: 20px;
    bottom: 44px;
    font-size: 24px;
    @include mediaTablet {
        font-size: 20px;
        left: 30px;
        bottom: 30px;
    }
}