/*
.raleway-<uniquifier> {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  
.playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  
.roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  */

//   Fonts

$font-main: "Raleway", serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #FFFFFF;
$footerbg: #2D343C;



